<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xploreit</title>
    <link rel="stylesheet" href="css/style.css">

    <!-- box icon link  -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css"> -->
    <!-- font awesome  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!-- bootstrap  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <section id="hero-section">

        <div class="hero" id="parallax" style="background-image: url(css/image/toor111cr.png);">
            <div class="hero-contant">
                <div class="nav-bar">
                    <!-- <div class="logo">
                        <img src="image/logo-name2.png" alt="">
                    </div> -->
                    <!-- <h1 class="logo">Xplore<span>it</span></h1> -->
                <div class="logo-img">
                    <img src="css/image/Red Gray Travel Logo text.png" alt="">
                </div>
                    <div class="nav-items">
                        <a href="./register"> <i class="fa-solid fa-user"></i></a>
                       
                        <i class="fa-solid fa-magnifying-glass" id="search-glass"></i>
                        <i class="fa-solid fa-bars " id="ham-menu"></i>
                    </div>
                    <div id="toor-search">
                        <input type="search" id="toor-search-bar" placeholder="Search A Tour">
                        <button type="submit" class="discover-submit search-submit-btn"
                            style="padding: 1.3rem;">Submit</button>
                    </div>
                    <ul id="nav-bar-links">
                        <li>
                            <a href="#hero-section">Home</a>
                        </li>
                        <li>
                            <a href="#destination">Popular destinations</a>
                        </li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li>
                            <a href="#toor-category">Tour Categories</a>
                        </li>
                        <li>
                            <a href="#toor-packages">Travel Packages</a>
                        </li>
                        <li>
                            <a href="#testimonial">Testimonials</a>
                        </li>
                        <li>
                            <a href="#contacts">Contact</a>
                        </li>
                    </ul>
                </div>

                <div class="hero-text">
                    <span class="hero-span">
                        Start Traveling Now &
                    </span>

                    <h5>Experience</h5>

                    <h2>
                        <a href="" class="typewrite" data-period="2000"
                            data-type='[ "Nature", "Thrill", "Peace", "Advanture", "Excitement" ]'>
                            <span class="wrap"></span>
                        </a>
                    </h2>

                    <p>Traveling offer exciting opportunities to explore new places, cultures, and experiences. With a
                        variety of travel options available, we can enhance personal growth, boost confidence, and
                        provide valuable learning experiences.</p>

                        <a href="#destination"><button class="explore-btn">Explore</button></a>
                    

                </div>
            </div>



        </div>



    </section>
    <!-- hero section ends  -->

    <!-- popular destination starts  -->
    <section id="destination">
        <div class="destination">
            <span class="destination-span">Discover</span>
            <h2 class="title-h2">Popular Destinations</h2>

          

           
            <div class="destination-card-list">

                <div class="destination-card" id="manali-toor" style="background-image: url(css/image/event6.jpeg); ">
                  
                </div>
                <div class="destination-card" style="background-image: url(css/image/event3.jpeg); ">
                 
                </div>

                <div class="destination-card" style="background-image: url(css/image/event2.jpeg); ">
                   
                </div>

                <div class="destination-card" style="background-image: url(css/image/event1.jpeg); ">
                   
                </div>

                <div class="destination-card" style="background-image: url(css/image/event4.jpeg); ">
                   
                </div>

                <div class="destination-card" style="background-image: url(css/image/event5.jpeg); ">
                   
                </div>

               

                <div class="destination-card" style="background-image: url(css/image/event7.jpeg); ">
                   
                </div>
             
                   
                </div>



            </div>
        
        </div>

    </section>
    <!-- popular destination ends  -->

    <!-- service section starts  -->
    <section id="services" style="background-image: url(css/image/banner-arrow.png);">
        <div class="services">
            <span class="destination-span service-span">Why Xplore<span>it</span></span>
            <h2 class="title-h2">Services We Provide</h2>

            <div class="service-list">
                <div class="service-list-item">
                    <div class="service-img">
                        <img src="css/image/food-icon.png" alt="">
                    </div>
                    <p>Food</p>
                </div>

                <div class="service-list-item">
                    <div class="service-img">
                        <img src="css/image/tent-icon.png" alt="">
                    </div>
                    <p>Accomodation</p>
                </div>

                <div class="service-list-item">
                    <div class="service-img">
                        <img src="css/image/first-aid-icon.png" alt="">
                    </div>
                    <p>First Aid </p>
                </div>

                <div class="service-list-item">
                    <div class="service-img">
                        <img src="css/image/bus-icon.png" alt="">
                    </div>
                    <p>Transportation</p>
                </div>


            </div>
            <div class="service-list">
                <div class="service-list-item">
                    <div class="service-img">
                        <img src="css/image/wallet-icon.png" alt="">
                    </div>
                    <p>Pocket Friendly <br> Packages </p>
                </div>

                <div class="service-list-item">
                    <div class="service-img">
                        <img src="css/image/instructor-icon.png" alt="">
                    </div>
                    <p>Instructor</p>
                </div>

                <div class="service-list-item">
                    <div class="service-img">
                        <img src="css/image/experience-icon.png" alt="">
                    </div>
                    <p>Best <br>Experience</p>
                </div>

                <div class="service-list-item">
                    <div class="service-img">
                        <img src="css/image/24hr.png" alt="">
                    </div>
                    <p>24/7 <br>Service</p>
                </div>

            </div>

        </div>
    </section>
    <!-- service section ends -->

    <!-- discover section starts  -->
    <section id="discover">
        <div class="discover" style="background-image: url(css/image/toor14.jpeg);">
            <div class="bg-cover">
                <div class="bg-cover-left">
                    <span class="destination-span">Let's Explore the World</span>
                    <h2 class="discover-h2"><span>Discover </span>your next adventure</h2>
                    <h5 class="discover-h5">& Get Special Offers in Your Inbox</h5>
                    <a href="#toor-packages"><button class="explore-btn">Find your tour</button></a>

                </div>

                <div class="bg-cover-right">
                    <input id="email" type="email" placeholder="Submit Your Email">
                    <button type="submit" class="discover-submit">Subscribe</button>
                </div>

            </div>

        </div>
    </section>
    <!-- discover section ends  -->

    <!-- toor catagory starts  -->
    <section id="toor-category" style="background-image: url(css/image/pattern-2.png);">
        <div class="toor-category">
            <span class="destination-span">Categories</span>
            <h2 class="title-h2">Pick A Tour Type</h2>
            <div class="category-list">
                <div class="category-list-item c-item-1">
                    <div class="c1-img">
                        <img class="img1" src="css/image/adventure-blue-icon.png" alt="">
                        <img class="img2" src="css/image/adventure-white-icon.png" alt="">
                    </div>

                    <h5>Adventure</h5>
                </div>
                <div class="category-list-item c-item-2 ">
                    <div class="c1-img">
                        <img class="img1" src="css/image/hiking-green-icon.png" alt="">
                        <img class="img2" src="css/image/hiking-white-icon.png" alt="">
                    </div>

                    <h5>Hiking</h5>
                </div>
                <div class="category-list-item c-item-3">
                    <div class="c1-img">
                        <img class="img1" src="css/image/marriage-yellow-icon.png" alt="">
                        <img class="img2" src="css/image/marriage-white-icon.png" alt="">
                    </div>

                    <h5>Romance</h5>
                </div>
                <div class="category-list-item c-item-4">
                    <div class="c1-img">
                        <img class="img1" src="css/image/temple-red-icon.png" alt="">
                        <img class="img2" src="css/image/temple-white-icon.png" alt="">
                    </div>

                    <h5>Cultural</h5>
                </div>
            </div>
        </div>
    </section>
    <!-- toor catagory ends -->

    <!-- travel packages starts  -->
    <section id="toor-packages">
        <div class="toor-packages">
            <span class="destination-span">Packages</span>
            <h2 class="title-h2">Travel Packages</h2>
            <div class="toor-packages-list">
                <div class="packages-card" style="background-image: url(css/image/toor21.jpeg); width: 12.5rem; height: 18.5rem;">
                    <div class="card-contant">
                        <h4 >Khir ganga</h4>
                        <div class="card-contant-inner">
                            <div class="contant-inner">
                                <p><i class="fa-solid fa-clock"></i> 4 Days 3 Nights</p>
                                <p><i class="fa-solid fa-user-group"></i>14</p>
                                </div>
                                <hr class="card-hr" style="color: aliceblue;">
                                <div class="contant-inner">
                                 <span class="card-ratting">5 <i class="fa-solid fa-star"></i></span>
                                 <p class="card-price">Starts From <span>$28</span></p>
                                 </div>
                        </div>
                       
 
                     </div>
                </div>

                <div class="packages-card" style="background-image: url(css/image/toor23.jpeg); width: 12.5rem; height: 18.5rem;">
                  
                    <div class="card-contant">
                        <h4 >Dwarka</h4>
                        <div class="card-contant-inner">
                            <div class="contant-inner">
                                <p><i class="fa-solid fa-clock"></i> 4 Days 3 Nights</p>
                                <p><i class="fa-solid fa-user-group"></i>14</p>
                                </div>
                                <hr class="card-hr" style="color: aliceblue;">
                                <div class="contant-inner">
                                 <span class="card-ratting">5 <i class="fa-solid fa-star"></i></span>
                                 <p class="card-price">Starts From <span>$28</span></p>
                                 </div>
                        </div>
                       
 
                     </div>
                </div>

                <div class="packages-card" style="background-image: url(css/image/toor24.jpeg); width: 12.5rem; height: 18.5rem;">
                    <a href="./toorpage">
                    <div class="card-contant">
                        <h4 > Kasol Manali</h4>
                        <div class="card-contant-inner">
                            <div class="contant-inner">
                                <p><i class="fa-solid fa-clock"></i> 4 Days 3 Nights</p>
                                <p><i class="fa-solid fa-user-group"></i>14</p>
                                </div>
                                <hr class="card-hr" style="color: aliceblue;">
                                <div class="contant-inner">
                                 <span class="card-ratting">5 <i class="fa-solid fa-star"></i></span>
                                 <p class="card-price">Starts From <span>$28</span></p>
                                 </div>
                        </div>
                       
 
                     </div>
                    </a>
                </div>

                <div class="packages-card" style="background-image: url(css/image/toor25.jpeg); width: 12.5rem; height: 18.5rem;">
                    <div class="card-contant">
                        <h4 >Arvalli</h4>
                        <div class="card-contant-inner">
                            <div class="contant-inner">
                                <p><i class="fa-solid fa-clock"></i> 4 Days 3 Nights</p>
                                <p><i class="fa-solid fa-user-group"></i>14</p>
                                </div>
                                <hr class="card-hr" style="color: aliceblue;">
                                <div class="contant-inner">
                                 <span class="card-ratting">5 <i class="fa-solid fa-star"></i></span>
                                 <p class="card-price">Starts From <span>$28</span></p>
                                 </div>
                        </div>
                       
 
                     </div>

                </div>


                <div class="packages-card" style="background-image: url(css/image/toor40.jpeg); width: 12.5rem; height: 18.5rem;">
                    <div class="card-contant">
                        <h4 >Ooty</h4>
                        <div class="card-contant-inner">
                            <div class="contant-inner">
                                <p><i class="fa-solid fa-clock"></i> 4 Days 3 Nights</p>
                                <p><i class="fa-solid fa-user-group"></i>14</p>
                                </div>
                                <hr class="card-hr" style="color: aliceblue;">
                                <div class="contant-inner">
                                 <span class="card-ratting">5 <i class="fa-solid fa-star"></i></span>
                                 <p class="card-price">Starts From <span>$28</span></p>
                                 </div>
                        </div>
                       
 
                     </div>
                </div>

               
                    <div class="packages-card" style="background-image: url(css/image/toor21.jpeg); width: 12.5rem; height: 18.5rem;">
                        <div class="card-contant">
                            <h4 >Khir ganga</h4>
                            <div class="card-contant-inner">
                                <div class="contant-inner">
                                    <p><i class="fa-solid fa-clock"></i> 4 Days 3 Nights</p>
                                    <p><i class="fa-solid fa-user-group"></i>14</p>
                                    </div>
                                    <hr class="card-hr" style="color: aliceblue;">
                                    <div class="contant-inner">
                                     <span class="card-ratting">5 <i class="fa-solid fa-star"></i></span>
                                     <p class="card-price">Starts From <span>$28</span></p>
                                     </div>
                            </div>
                           
     
                         </div>
                    </div>
            </div>



        </div>
    </section>
    <!-- travel packages ends -->

    <!-- colaborator section starts  -->
    <section id="colaborator">
        <div class="colaborator">
            <img src="css/image/client-1.png" alt="">
            <img src="css/image/client-2.png" alt="">
            <img src="css/image/client-3.png" alt="">
            <img src="css/image/client-4.png" alt="">
            <img src="css/image/client-5.png" alt="">
        </div>
    </section>
    <!-- colaborator section ends -->

    <!-- testimonial section starts  -->
    <section id="testimonial">
        <div class="testimonial">
            <span class="destination-span">Testimonials</span>
            <h2 class="title-h2">What Travelers say</h2>





            <div class="testimonial-list">
                <div class="testimonial-list-item">
                    <i class="fa-solid fa-quote-left"></i>
                    <p>traveling offer exciting opportunities to explore new places, cultures, and experiences. With a
                        variety of travel options available, we can enhance personal growth</p>
                    <div class="testi-name-photo">
                        <div class="testi-photo">
                            <img src="css/image/testi-1.jpeg" alt="">
                        </div>
                        <div class="testi-info">
                            <span class="ratting">5<i class="fa-solid fa-star"></i></span>
                            <h5 class="testi-name">Harsh dave</h5>
                            <p class="testi-post">designer</p>
                        </div>
                    </div>
                </div>

                <div class="testimonial-list-item">
                    <i class="fa-solid fa-quote-left"></i>
                    <p>traveling offer exciting opportunities to explore new places, cultures, and experiences. With a
                        variety of travel options available, we can enhance personal growth</p>
                    <div class="testi-name-photo">
                        <div class="testi-photo">
                            <img src="css/image/testi-2.jpeg" alt="">
                        </div>
                        <div class="testi-info">
                            <span class="ratting">4<i class="fa-solid fa-star"></i></span>
                            <h5 class="testi-name">John david</h5>
                            <p class="testi-post">Writer</p>
                        </div>
                    </div>
                </div>

                <div class="testimonial-list-item">
                    <i class="fa-solid fa-quote-left"></i>
                    <p>traveling offer exciting opportunities to explore new places, cultures, and experiences. With a
                        variety of travel options available, we can enhance personal growth</p>
                    <div class="testi-name-photo">
                        <div class="testi-photo">
                            <img src="css/image/testi-3.jpeg" alt="">
                        </div>
                        <div class="testi-info">
                            <span class="ratting">5<i class="fa-solid fa-star"></i></span>
                            <h5 class="testi-name">Dilip bhai</h5>
                            <p class="testi-post">actor</p>
                        </div>
                    </div>
                </div>

                <div class="testimonial-list-item">
                    <i class="fa-solid fa-quote-left"></i>
                    <p>traveling offer exciting opportunities to explore new places, cultures, and experiences. With a
                        variety of travel options available, we can enhance personal growth</p>
                    <div class="testi-name-photo">
                        <div class="testi-photo">
                            <img src="css/image/testi-1.jpeg" alt="">
                        </div>
                        <div class="testi-info">
                            <span class="ratting">5<i class="fa-solid fa-star"></i></span>
                            <h5 class="testi-name">Harsh dave</h5>
                            <p class="testi-post">designer</p>
                        </div>
                    </div>
                </div>

                <div class="testimonial-list-item">
                    <i class="fa-solid fa-quote-left"></i>
                    <p>traveling offer exciting opportunities to explore new places, cultures, and experiences. With a
                        variety of travel options available, we can enhance personal growth</p>
                    <div class="testi-name-photo">
                        <div class="testi-photo">
                            <img src="css/image/testi-2.jpeg" alt="">
                        </div>
                        <div class="testi-info">
                            <span class="ratting">4<i class="fa-solid fa-star"></i></span>
                            <h5 class="testi-name">John david</h5>
                            <p class="testi-post">Writer</p>
                        </div>
                    </div>
                </div>

                <div class="testimonial-list-item">
                    <i class="fa-solid fa-quote-left"></i>
                    <p>traveling offer exciting opportunities to explore new places, cultures, and experiences. With a
                        variety of travel options available, we can enhance personal growth</p>
                    <div class="testi-name-photo">
                        <div class="testi-photo">
                            <img src="css/image/testi-3.jpeg" alt="">
                        </div>
                        <div class="testi-info">
                            <span class="ratting">5<i class="fa-solid fa-star"></i></span>
                            <h5 class="testi-name">Dilip bhai</h5>
                            <p class="testi-post">actor</p>
                        </div>
                    </div>
                </div>


            

                

            </div>
            
           

        </div>
    </section>
    <!-- testimonial section ends -->

    <!-- contact section starts  -->
    <section id="contacts">
        <div class="contacts">
            <div class="travel-logo-social">
                <div class="travel-logo">

                    <img src="css/image/Red Gray Travel Logo white.png" alt="">
                </div>
                <p>We as a travel agency provides a trip with careful planning and an open mind, you can create
                    unforgettable memories and gain a new outlook on life.</p>
                <div class="social-icons">
                    <div class="social-icon facebook">
                        <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                    </div>
                    <div class="social-icon instagram">
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                    </div>
                    <div class="social-icon twitter">
                        <a href=""> <i class="fa-brands fa-twitter"></i></a>
                    </div>
                    <div class="social-icon youtube">
                        <a href=""><i class="fa-brands fa-youtube"></i></a>
                    </div>
                    <div class="social-icon linkedin">
                        <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>





                </div>

            </div>
            <div class="quick-links">
                <h6>Quick links</h6>
                <ul>
                    <li><a href="#hero-section">Home</a></li>
                    <li><a href="#destination">Destinations</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#toor-packages">Tours</a></li>
                    <li><a href="#testimonial">Testimonials</a></li>
                    <li><a href="#contacts">Contact Us</a></li>

                </ul>
            </div>
            <div class="contact">
                <h6>Contact Us</h6>
                <div class="contact-details">
                    <div class="location-icon">
                        <a href=""><i class="fa-solid fa-location-dot"></i></a>
                    </div>
                    <div class="location-text">
                        <p>Gandhinagar(Head quater)</p>
                        <span>Shree Saurastra Leuva Patel Seva Samaj, sector 7-c,<br> gandhinagar, 382007.</span>
                    </div>
                </div>

                <div class="contact-details">
                    <div class="location-icon">
                        <a href=""><i class="fa-solid fa-clock"></i></a>
                    </div>
                    <div class="location-text">
                        <p>Office time</p>
                        <span>10AM to 8PM</span>
                    </div>
                </div>

                <div class="contact-details">
                    <div class="location-icon">
                        <a href="tel:9687298445"><i class="fa-solid fa-phone"></i></a>
                    </div>
                    <div class="location-text">
                        <p>Contacts</p>
                        <span>+91 9687298445</span>
                    </div>
                </div>

                <div class="contact-details">
                    <div class="location-icon">
                        <a href="mailto:service@Xploreit.com
                        "><i class="fa-solid fa-envelope"></i></a>
                    </div>
                    <div class="location-text">
                        <p>Email</p>
                        <span>service@Xploreit.com</span>
                    </div>
                </div>


            </div>


        </div>
        <hr class="footer-hr">
        <div class="copyright">
            <p><i class="fa-solid fa-copyright"></i> all rights reserved for Xploreit.</p>
        </div>
    </section>
    <!-- contact section ends -->

    <script src="css/data.js"></script>
</body>

</html>