<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Book Your Trip</title>
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap" rel="stylesheet" />
  <!-- Stylesheet -->
  <link rel="stylesheet" href="css/payment.css" />
</head>

<body>

  <section id="book-trip">
    <div class="book-trip">
      <h4>Book My Trip</h4>
      <form action="" method="post" class="user-detail-form">
        <div class="user-detail">



          <div class="name-email detail">
            <div class="name-in input-css">
              <label for="input-name">Username: </label>
              <input id="input-name" type="text" name="Name" placeholder="&#xF007; Enter Username" required
                autocomplete="off" autofocus style="font-family: Arial, 'Font Awesome 5 Free'" />
            </div>
            <div class="email-in input-css">
              <label for="input-email">Email Id: </label>
              <input id="input-email" type="email" name="E-mail" placeholder="&#xf0e0; Enter Email" required
                autocomplete="off" style="font-family: Arial, 'Font Awesome 5 Free'">
            </div>
          </div>

          <div class="phone-address detail">
            <div class="phone-in input-css">
              <label for="phone-no">Phone-No: </label>
              <input type="number" id="phone-no" name="Phone No" placeholder="&#xf095; Mobile No" autocomplete="off"
                style="font-family: Arial, 'Font Awesome 5 Free'">
            </div>
            <div class="address-in input-css">
              <label for="address">Address: </label>
              <input type="text" id="address" name="Address" placeholder="&#xf124; Address" autocomplete="off"
                style="font-family: Arial, 'Font Awesome 5 Free'">
            </div>

          </div>

          <div class="destination-how-many detail">
            <div class="desti-in input-css">
              <label for="destinations">Destination:</label>
              <select name="Destination" id="destinations">
                <option value="">Choose Destination</option>
                <option value="Manali">Manali</option>
                <option value="Khir-Ganga">Khir Ganga</option>
                <option value="Saputara">Saputara</option>
                <option value="Polo-forest">Polo forest</option>
                <option value="kedarkanth">Kedarkanth</option>
                <option value="Dwarka">Dwarka</option>
              </select>
            </div>

            <div class="how-many-in input-css">
              <label for="how-many">No Of Travelers:</label>
              <input type="number" id="how-many" name="How Many" placeholder="&#xf0c0; How many" autocomplete="off"
                style="font-family: Arial, 'Font Awesome 5 Free'">
            </div>
          </div>

          <div class="Toor-date ">

            <label for="toor-date">Select Tour:</label>
            <select name="Toor Date" id="toor-date">
              <option value="apr25-28">Apr 25 to Apr 28</option>
              <option value="apr30-2">Apr 30 to May 2</option>
              <option value="may7-10">May 7 to may 10</option>
              <option value="may18-21">May 18 to May 21</option>
              <option value="jun1-4">Jun 1 to Jun 4</option>

            </select>

          </div>

          <!-- </form> -->

        </div>
        <!-- 
      <div class="additional-service">
       
         <p>Additional Services</p>
        

          <input type="checkbox" id="s-guide" name="Guide">
          <label for="s-guide">Personalized Guide <span>($50)</span></label><br>

          <input type="checkbox" id="s-internet" name="Internet">
          <label for="s-internet">Internet <span>($30)</span></label><br>

          <input type="checkbox" id="s-photography" name="Photo">
          <label for="s-photography">Photography <span>($90)</span></label><br>

         

        
      </div> -->

        <div class="payment-detail">

          <p>Enter your card details</p>
          <label for="card-no">Card no. :</label>
          <input type="number" id="card-no" placeholder="Enter Card No"><br>

          <label for="expr-date">Expr date:</label>
          <input type="number" id="expr-date" placeholder="Enter Expr Date">
          <label for="cvv">CVV:</label>
          <input type="number" id="cvv" placeholder="Enter CVV">
        </div>

        <button class="btns book-btn" type="submit">Book Now</button>
        <button class="btns reset-btn" type="reset">Reset</button>

      </form>

    </div>
  </section>


  <script>
    document.querySelector(".book-btn").addEventListener("click", function () {
      alert("Your Trip Is Booked Successfully. Enjoy The Trip!")

    });


  </script>
</body>

</html>