<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>xplore Registration</title>
    <link rel="stylesheet" href="css/login.css" />

    <!-- link font awesome  -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css"
    />

  </head>
  <body>
    <section id="login-bg">
      <div class="login-bg">
        <div class="login-left">
          <a href="./index"><img
              src="css/image/Red Gray Travel Logo.png"
              style="width: 500px;"
              alt=""
            /></a>

        </div>
        <div class="login-right" style="height: 550px;">

          <span class="icon-close">
            <a href="./index"><ion-icon name="close"></ion-icon></a>
          </span>

          <div class="form-box register">
            <h2>Registration</h2>
            <form action="/register" method="POST">

              <div class="input-box">
                {{! <span class="icon"></span> }}
                <input
                  type="text"
                  id="name"
                  name="person"
                  autocomplete="off"
                  required
                />
                <label for="person">Username</label>
              </div>

              <div class="input-box">
                {{! <span class="icon"></span> }}
                <input
                  type="email"
                  id="email"
                  name="email"
                  autocomplete="off"
                  required
                />
                <label for="email">Email</label>
              </div>

              <div class="input-box">
                {{! <span class="icon"></span> }}
                <input
                  type="password"
                  id="password"
                  name="password"
                  autocomplete="off"
                  required
                />
                <label for="password">Password</label>
              </div>
              <div class="input-box">
                {{! <span class="icon"></span> }}
                <input
                  type="confirmpassword"
                  id="password"
                  name="confirmpassword"
                  autocomplete="off"
                  required
                />
                <label for="confirmpassword">Conform Password</label>
              </div>
              <div class="remember-forgot">
                <label for="remember"><input type="checkbox" id="remember" />I
                  agree to the terms and conditions</label>

              </div>

              <button type="submit" class="btn">Register</button>
              <div class="login-register">
                <p>
                  Already have an acount?
                  <a href="./login" class="login-link">Login</a>
                </p>
              </div>
            </form>
          </div>

        </div>
      </div>
    </section>

    <script src="css/login.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>

  </body>
</html>